
.header {
    background:rgb(4, 78, 64);
    overflow: hidden;
    height: 80px;
}
.logo img {
    height: 50px;
    margin: 15px;
}
.logo {
    display: block;
    float: left;
    width: 300px;
}
.main-nav {
    float: right;
    list-style: none;
    padding: 0px;
}
.main-nav li {
    float: left;
    margin-right: 20px;
    line-height: 45px;
    color: white;
    font-size: 15px;
  
}
.second_header{
    float: left;
    height: 30px;
 }
.second_header a{
text-decoration: none;    
color: black;
font-size: 12px;
    
}
.second_header a:hover {
    color: grey;
    text-decoration: underline;
}
.text{
    border-bottom: 10px solid;
    border-bottom-color: black;
}
.pictures{
    float: left;
    overflow: hidden;
    
}
.grouped_elements img, .img-article img{
   max-width: 100%;
}
.img-article{
    float: left;
    overflow: hidden;
    width: 20%;
}
.article-text {
    float: left;
    text-align: justify;
}
.pages{
    float:right;
    
}
.pages li {
    float: right;
    list-style: none;
    color:grey;
    font-size: 12px;
    text-decoration: none;
}

.chat-box{
    border-style: groove;
    float: left;
}
.button-send{
    float: right;

}



.footer {
    background: rgb(4, 78, 64);;
    text-align: center;
    color: white;
}