* {
    font-family: montserrat, sans-serif;
}
.header {
    background:rgb(4, 78, 64);
    overflow: hidden;
    height: 80px;
}
.logo img {
    height: 50px;
    margin: 15px;
}
.logo {
    display: block;
    float: left;
    width: 300px;
}
.main-nav {
    float: right;
    list-style: none;
    padding: 18px;
}
.main-nav li {
    float: left;
    margin-right: 20px;
    line-height: 45px;
    color: white;
    font-size: 15px;
}
.images img {
    height:300px;
    margin: 20px;
}
.images {
    overflow: hidden;
}
.footer {
    background: rgb(4, 78, 64);;
    text-align: center;
    color: white;
}
