* {
    font-family: montserrat, sans-serif;
}
body{
    overflow-x:hidden;
}
.header {
    background:rgb(4, 78, 64);
    overflow: hidden;
    height: 80px;
}
.logo img {
    height: 50px;
    margin: 15px;
}
.logo {
    display: block;
    float: left;
    width: 300px;
}
.main-nav {
    float: right;
    list-style: none;
    padding: 0px;
}
.main-nav li {
    float: left;
    margin-right: 20px;
    line-height: 80px;
    color: white;
    font-size: 15px;
}
.main-nav li a{
    float: left;
    margin-right: 20px;
    line-height: 80px;
    color: white;
    font-size: 15px;
}
.main-nav a:hover{
    color: white;
    text-decoration: underline;
}
.images{
    display: block;
    margin-top: 40px;
    position: relative;
    left: 25%;
}
.bxslider img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    
}
.gallery {
    list-style: none;
    vertical-align: middle;
    
}
.gallery li{
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
}
.story-link {
    color: black;
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-color:  rgb(4, 78, 64);
    width: 400px;
}
.story-link:hover {
    color: black;
    text-decoration-line: none;
}
.story-link p{
    font-size: 13px;
}
.story-link h3{
    font-size: 15px;
}
.story-link img{
    height: 150px;
    margin: 15px;
    float: left;
}
/* Register */
.register_form{
    margin: 50px 30px;
}
.register_form li {
    margin:10px;
    list-style: none;
}
.error_text{
    margin: 10px;
    font-size: 10px;
}
.about-us img{
    height: 200px;
    margin: 15px;
    float: left;
}
.footer {
    background: rgb(4, 78, 64);;
    text-align: center;
    color: white;
    width:100%;
}
.footerR {
    background: rgb(4, 78, 64);;
    text-align: center;
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
}