* {
    font-family: montserrat, sans-serif;
}
.header {
    background:rgb(4, 78, 64);
    overflow: hidden;
    height: 80px;
}
.logo img {
    height: 50px;
    margin: 15px;
}
.logo {
    display: block;
    float: left;
    width: 300px;
}
.main-nav {
    float: right;
    list-style: none;
    padding: 0px;
}
.main-nav li {
    float: left;
    margin-right: 20px;
    line-height: 80px;
    color: white;
    font-size: 15px;
}
.main-nav a{
    float: left;
    margin-right: 20px;
    line-height: 80px;
    color: white;
    font-size: 15px;
}
.main-nav a:hover{
    color: white;
    text-decoration: underline;
}
.images{
    display: block;
    margin-top: 40px;
    position: relative;
    left: 25%;
}
.bxslider img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
}
.footer {
    background: rgb(4, 78, 64);;
    text-align: center;
    color: white;
}
